<div class="container">
  <div class="search">
    <form class="search-form">
      <input type="text" class="search-form__input" placeholder="Type something"/>
    </form>
  </div>

  <div class="topics">
    <ul class="topic-list cf">
      <li class="topic-list__item">
        <a href="#">React</a>
      </li>
      <li class="topic-list__item">
        <a href="#">React</a>
      </li>
      <li class="topic-list__item">
        <a href="#">React</a>
      </li>
      <li class="topic-list__item">
        <a href="#">React</a>
      </li>
      <li class="topic-list__item">
        <a href="#">React</a>
      </li>
      <li class="topic-list__item">
        <a href="#">React</a>
      </li>
      <li class="topic-list__item">
        <a href="#">React</a>
      </li>
    </ul>
  </div>

  <div class="search-result">
    <ul class="repo-list">

     

      <li class="repo-list__item">
        <a href="#">
          <div class="repo-info">
            <img class="repo-info__avatar" src="https://avatars0.githubusercontent.com/u/69631?v=3&s=200"/>
            <span class="repo-info__title">facebook/react</span>
            <span class="repo-info__stars">2000</span>
          </div>
        </a>
      </li>

      <li class="repo-list__item">
        <a href="#">
          <div class="repo-info">
            <img class="repo-info__avatar" src="https://avatars0.githubusercontent.com/u/69631?v=3&s=200"/>
            <span class="repo-info__title">facebook/react</span>
            <span class="repo-info__stars">2000</span>
          </div>
        </a>
      </li>

      <li class="repo-list__item">
        <a href="#">
          <div class="repo-info">
            <img class="repo-info__avatar" src="https://avatars0.githubusercontent.com/u/69631?v=3&s=200"/>
            <span class="repo-info__title">facebook/react</span>
            <span class="repo-info__stars">2000</span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>